<html>
<head>
    <meta charset="utf-8" />
    <title>Meteo</title>
</head>
<body>

<p>
    <label for="Capteur1"  id="Capteur1" >Capteur 1 : </label>
    <input  name="Capteur1" type="text" readonly="readonly" placeholder="30°"/>
</p>
<p>
    <label for="Capteur2"  id="Capteur2" >Capteur 2 : </label>
    <input  name="Capteur2" type="text" readonly="readonly" placeholder="20°"/>
</p>
<p>
    <label for="Capteur3"  id="Capteur3" >Capteur 3 : </label>
    <input  name="Capteur3" type="text" readonly="readonly" placeholder="50°"/>
</p>
</body>

</html>